@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
.title{
    color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(255, 216, 201); */
    /* font-style: ; */
    /* text-decoration: line-through; */
    /* width: 500px; */
    
}
.text-center{
    text-align: center;
}