<%- include('header') %>

      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <form action="/add" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Full Name</label>
                      </div>
                      <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Email Address</label>
                      </div>
                      <button type="submit" class="btn btn-dark mt-3">Add Student</button>
                </form>
            </div>
        </div>
      </div>


</body>
</html>