.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  width: 100%;
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
  align-items: center;
}
.logo{
  font-weight: bold;
}
.link{
  color: white;
  display: inline-block;
  margin-left:12px;
  cursor: pointer;
  text-decoration: none;
}
.link:hover{
  color: #ddd;

}