.container{
    width: 600px;
    margin: 40px auto;
}
.user-container{
    width: 600px;
    margin: 40px auto;
}
.card{
    box-shadow: 0 0 6px #ccc;
    padding: 12px;
    border-radius: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 18px;
}
input{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;

}
input:focus{
    outline:none;
    border:1px solid lightgray;
}
.btn{
    padding: 18px 30px;
    border-radius: 10px;
    border:none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.user-card{
        border:1px solid #ccc;
        padding: 12px;
        border-radius: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
    }

    .user-card h4{
        margin:0
    }
    .user-card p{
        margin:0;
        color: gray;
    }
.d-none{
    display: none;
}
.danger{
    color: red;
}