@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    margin: 0;
    background-color: rgb(255, 244, 242);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 650px;
    margin: 50px auto;

}
.random-quote{

}
.btn{
    background-color: blueviolet;
    padding: 12px 32px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}
/* .next-btn-container{
    position: fixed;
    bottom: 0;
} */

.author{
    background-color: rgb(244, 232, 255);
    color: blueviolet;
    display: inline-block;
    padding: 5px 24px;
    border-radius: 20px;
    margin: 6px;
    cursor: pointer;
}