@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.user{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
.align-right{
    text-align: right;
}

.logo{
    color: rgb(38, 38, 38);
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.nav ul{
    display: flex;
    list-style-type: none;
}

.nav-links{
    margin: 0 4px;
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}
.nav-links:hover{
    background-color: rgb(227, 227, 227);

}
.email-btn{
    background-color: rgb(227, 227, 227);
    color: rgb(50, 50, 50);
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}
.email-btn:hover{
    background-color: rgb(206, 206, 206);
}


@media(min-width: 720px){
    .title{
        font-size: 48px;
    }
    .nav{
        width: 720px;
        /* background-color: lightgray; */
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container{
        width: 720px;
        /* background-color: lightgray; */
        margin: 50px auto;
        display: flex;
        align-items: center;
    }
    .w-50{
        width: 360px;
    }
    .project-container{
        width: 720px;
        margin: 50px auto;
    }
    .card{
        width: 400px;
        border-radius: 18px;
        border:1px solid lightgray;
        padding: 12px;
        margin:20px;
        flex-grow: 1;
    }
    .project-flex .card:first-child{
        margin-left: 0;
    }
    .project-flex .card:last-child{
        margin-right: 0;
    }
    .card-img{
        width: 100%;
        border-radius: 18px;
    }
    .project-flex{
        display: flex;

    }
    .email-container{
        border:1px solid lightgray;
        border-radius: 18px;
        width: 720px;
        margin: 50px auto;
    }
}

@media (max-width: 720px){
    .title{
        font-size: 38px;
    }
    .nav{
        
        /* background-color: lightgray; */
        margin: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .header-container{
        
        /* background-color: lightgray; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        margin: 50px 26px;
        text-align: center;
        align-items: center;
    }
    .w-50{
        text-align: center;
    }
    .nav-links{
        display: none;
    }
    ul li:last-child{
        display: block;
    }
    .project-container{
        width: auto;
        margin: 50px auto;
    }
    .card{
        
        border-radius: 18px;
        border:1px solid lightgray;
        padding: 12px;
        margin:20px;
    }
    .email-container{
        width: 100%;
    }
    .card-img{
        width: 100%;
        border-radius: 18px;
    }
    .project-flex{
        

    }
}
