.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 10%;
}
.nav-links{
  display: flex;
  align-items: center;
  
}

.link{
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;

}
.link:hover{
  color: rgb(72, 72, 72);
}
.btn{
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 14px 26px;
  border:1px solid black;
  border-radius: 12px;
  cursor: pointer;
  margin: 0;
}
.btn:hover{
  border:1px solid black;
  background-color: white;
  color: black;
}
.container{
  margin-top: 80px;
}